<!-- <h1> ~~ MusicL ~~ </h1> -->
<div id="content">
  <p>
  <hr>
   <table>
      <tr>
          <textarea id="input" name="input" 
                    autofocus cols = "40" rows = "4">
                <%= source %>
          </textarea>
      </tr>
      <br>
      <tr><button class="buttons" id="parse" type="button">Parse</button></tr>
  </table>
  <nav id = "ListaBotones">
    <button class="buttons" id="DoM" type="button">Escala Do M</button>
    <button class="buttons" id="FaM" type="button">Escala Fa M</button>
    <button class="buttons" id="EbM" type="button">Escala Mib m</button>
    <button class="buttons" id="Lam" type="button">Escala La m melódica</button>  
  </nav>
  </p>
  <p>
    <div id="flash"><%= flash[:notice] if flash[:notice]%></div>
  </p>
  <br> <br>
  <div id="outputTable" height="153" width="100"><!-- Output goes here! --> 
    Arbol Generado
    <pre>
      <span id="output">
      </span>
      <span id="partitura">
      </span>
    </pre>
  </div>
</div>

<script type="text/javascript" src="musicL.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="vexflow/build/vexflow/vexflow-debug.js"></script>
<script type="text/javascript" src="vexflow/build/vexflow/vexflow-min.js"></script>