<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MusicL</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <script src="musicL.js"></script>
  </head>
  <body>
    <img class="banner" src="MusicL2.png" alt=" ~~ MusicL ~~" height="153" width="801" align="middle"/>
    <nav id="menu">
      <ul>
        <li> <a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Grammar</a> </li>
        <li> <a href="/"  title="Home" <%=current?("/")%>>Home</a> </li>
<!--        <li> <a href="/test"  title="Pruebas" <%=current?("/test")%>>Pruebas</a> </li> -->
        <li> <a href="https://github.com/alu0100698121/MusicL"  title="Repo">Repositorio</a> </li>
        <li> <a href="http://zaach.github.io/jison/"  title="Jison">Jison</a> </li>
        <li> <a href="https://github.com/SFEley/sinatra-flash"  title="sinatra-flash">sinatra-flash</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
