body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("http://www.cheridegruccio.com/1CreamBackground.jpg"); }

h1 {
  color: #990033;
  font: 32px/1 Helvetica, Arial, sans-serif; }

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto; }

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  background-size: 5% 70%;
  padding-left: 84px; }

nav {
  font-weight: bold; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #af7817;
    border-radius: 10px;
    border: 2px dashed #DDD;
    overflow: hidden; }
  nav li {
    float: left; }
  nav a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: #af7817;
    color: white; }
    nav a:hover {
      background-color: #7C5852; }

p {
  font: 13px/1.4 Helvetica, Arial, sans-serif; }

label {
  display: block; }

nav a.current {
  background: #f8e9cd; }

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: #ffccdd;
  color: #990033;
  border: 1px solid #990033; }

#like p {
  font-weight: bold;
  color: #990033; }
#like input {
  background: #990033 url(/images/like.png) 0 2px no-repeat;
  border: #660022 1px solid;
  height: 28px;
  padding-left: 24px; }

.loadfile {
  background-color: #AF7817;
  border-radius: 10px;
  border: 2px dashed #DDD;
  line-height: 80px;
  height: 20px;
  padding: 5px; }
  .loadfile button, .loadfile input {
    color: brown;
    float: left;
    list-style: none;
    display: inline;
    text-align: center;
    font-weight: bolder; }
  .loadfile button:hover, .loadfile input:hover {
    cursor: pointer; }

.error {
  color: red;
  background-color: #AF7817; }

.success {
  color: #00ff33;
  background-color: #444444; }

.centered {
  text-align: center; }

input[type=text] {
  border: 5px dotted #C68E17;
  border-radius: 5px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0; }

.textar {
  width: 500px;
  padding: 3px;
  border-color: brown;
  border-style: dotted;
  border-width: thin;
  border-radius: 5px; }

label {
  color: brown;
  font-weight: bold;
  width: 100px;
  padding: 5px; }
